body {
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
    background-size: 100rem 400px;
    height: 2000px;
}

/* Fonts */

@font-face {
    font-family: "arlon" ;
    src: url(../fonts/FontsFree-Net-Arlon-Bold.ttf);
}

/* Titre */ 

#titre {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

#span-titre {
    font-size: 12px;
}

/* Main */

.img-02 {
    text-align: center;
    background-color: white;
    width: 90%;
    margin-left: 65px;
}

/* Div blanc */

.div-blanc {
    background-color: white;
    width: 90%;
    margin-left: 65px;
    text-align: center;
    padding-bottom: 40px;
}

.div-blanc h2 {
    margin-top: 0;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#hr-h2 {
    width: 15%;
}

#p-divblanc {
    color: gray;
    font-size: 12px;
    letter-spacing: 1px;
}

/* Div grise */

.div-grise {
    background-color: #f7f6f5;
    width: 90%;
    margin-left: 65px;
}

.p-gris {
    color: rgb(155, 153, 153);
    margin-top: 0;
    text-align: center;
    text-align: start;
    padding: 30px;
}