body {
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
    background-size: 100rem 400px;
    height: 3000px;
}

/* Fonts */

@font-face {
    font-family: "arlon" ;
    src: url(../fonts/FontsFree-Net-Arlon-Bold.ttf);
}

/* Titre */ 

#titre {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

#span-titre {
    font-size: 12px;
}

/* Main */


.img-02 {
    text-align: center;
    width: 90%;
    margin-left: 65px;
}

/* Div blanc */

.div-blanc {
    background-color: white;
    width: 90%;
    margin-left: 65px;
    text-align: center;
    padding-bottom: 40px;
}

.div-blanc h2 {
    margin-top: 0;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#hr-h2 {
    width: 15%;
}

#p-divblanc {
    color: gray;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}

/* Div grise */

.div-grise {
    background-color: #f7f6f5;
    width: 90%;
    margin-left: 65px;
}

.p-gris {
    color: rgb(155, 153, 153);
    margin-top: 0;
    text-align: center;
    text-align: start;
    padding: 30px;
}

.div-noir {
    background-color: #1e1f23;
    width: 90%;
    margin-left: 65px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#noir2 {
    background-color: #121315;
    width: 93%;
    margin-left: 45px;
    padding-bottom: 30px;
}

h3 {
    color: white;
    margin-top: 0;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#hr-h3 {
    width: 15%;
}

/* Les quatres images */

#quatro {
    display: flex;
    justify-content: center;
}

#quatroDos {
    display: flex;
    justify-content: center;
}

/* Div Viverra Hendrerit */

.desc {
    display: flex;
    width: 90%;
}


.txt {
    background-color: white;
    text-align: center;
    text-align: start;
    justify-content: center;
    height: 500px;
    width: 500px;
}

.txt h4 {
    color: black;
    margin-top: 40%;
}

h4 {
    text-align: left;
    font-size: 30px;
    margin-left: 45px;
}

.p-desc {
    color: gray;
    padding: 50px;
    padding-top: 0px;
    font-size: 18px;
}

/* Texte 3 */ 

.txt-2 {
    background-color: #1e1f23;
    text-align: center;
    text-align: right;
    justify-content: center;
    height: 500px;
    width: 500px;
}

#h4-2 {
    color: white;
    text-align: right;
    margin-right: 50px;
    margin-top: 30%;
}

#div-fin {
    margin-left: 250px;
}

/* Footer */ 

.p-footer {
    color: white;
    font-size: 15px;

}

.footerr {
    text-align: center;
}

#icons {
    text-align: center;
    color: white;
}